.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  /* background-color: #282c34; */
}

.overlay-text {
  color: rgb(59 130 246);
  font-size: 3rem;
  font-weight: 900;
  font-style:italic;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
